html {
    touch-action: manipulation;
}
body {
    background: #000000;
}
html, body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}
canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #000000;
}
.centered {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    image-transform: pixelated;
}
